@font-face {  
	font-family: password;  
	src: url('font/password.ttf') format('truetype');  
}

#decrypt {
	display: inline-block;
}

body {
	padding: 2em;
}

a:not(:last-child) {
	margin-right: .5em;
}

.hidden {
	display: none;
}

#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

table {
	width: 100%;
}

#testing {
	display: none;
	width: 800;
	height: 500;
}

td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* max-width: ; */
}

tr:not(.exposed) td .obscured {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	max-width: 4em;
	font-family: password;
	word-spacing: -.30em;
}
